/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*=VARIABLES - GRID
------------------------------------------------*/
/*=VARIABLES - FONTS
------------------------------------------------*/
/*=VARIABLES - COLOR
------------------------------------------------*/
/*= fonts
------------------------------------------------*/
/*= break points
------------------------------------------------*/
/*= forms
------------------------------------------------*/
/*=button backgrounds
------------------------------------------------*/
/*=COMPASS DEFAULTS
------------------------------------------------*/
/*MIXINS
------------------------------------------------*/
/*moved font-family out*/
/*FUNCTIONS
------------------------------------------------*/
/*=VARIABLES - GRID
------------------------------------------------*/
/*=VARIABLES - FONTS
------------------------------------------------*/
/*=VARIABLES - COLOR
------------------------------------------------*/
/*= fonts
------------------------------------------------*/
/*= break points
------------------------------------------------*/
/*= forms
------------------------------------------------*/
/*=button backgrounds
------------------------------------------------*/
/*=COMPASS DEFAULTS
------------------------------------------------*/
/*MIXINS
------------------------------------------------*/
/*moved font-family out*/
/*FUNCTIONS
------------------------------------------------*/
/*=BASE
------------------------------------------------*/
/* line 5, ../sass/_typography.scss */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 10, ../sass/_typography.scss */
body {
  color: #2c2c2c;
  font-family: "arial";
  font-size: 93.75%;
  line-height: 1.7em;
}

/*=HEADINGS
------------------------------------------------*/
/* should set this up by header, main, footer */
/* line 22, ../sass/_typography.scss */
h2 {
  font-size: 1.6em;
  line-height: 1.0625em;
  margin-bottom: 0.53125em;
}

/* line 23, ../sass/_typography.scss */
h3 {
  font-size: 1.4em;
  line-height: 1.21429em;
  margin-bottom: 0.60714em;
}

/* line 24, ../sass/_typography.scss */
h4 {
  font-size: 1em;
  line-height: 1.7em;
  margin-bottom: 0.85em;
}

/* line 25, ../sass/_typography.scss */
h5 {
  font-size: 1em;
  line-height: 1.7em;
  margin-bottom: 0.85em;
}

/* line 26, ../sass/_typography.scss */
h6 {
  font-size: 1em;
  line-height: 1.7em;
  margin-bottom: 0.85em;
}

@media screen and (max-width: 481px) {
  /* line 29, ../sass/_typography.scss */
  h1 {
    font-size: 2.13333em;
    line-height: 1.59375em;
    margin-bottom: 0.39844em;
  }

  /* line 30, ../sass/_typography.scss */
  h2 {
    font-size: 1.2em;
    line-height: 1.41667em;
    margin-bottom: 0.70833em;
  }

  /* line 31, ../sass/_typography.scss */
  h3 {
    font-size: 1.4em;
    line-height: 1.21429em;
    margin-bottom: 0.60714em;
  }

  /* line 32, ../sass/_typography.scss */
  h4 {
    font-size: 1em;
    line-height: 1.7em;
    margin-bottom: 0.85em;
  }

  /* line 33, ../sass/_typography.scss */
  h5 {
    font-size: 1em;
    line-height: 1.7em;
    margin-bottom: 0.85em;
  }

  /* line 34, ../sass/_typography.scss */
  h6 {
    font-size: 1em;
    line-height: 1.7em;
    margin-bottom: 0.85em;
  }
}
/* line 38, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #666666;
  text-transform: uppercase;
  font-family: "oswaldbook";
}

/* line 44, ../sass/_typography.scss */
h4, h5, h6 {
  margin-bottom: 0;
}

/* line 51, ../sass/_typography.scss */
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
  margin-top: 0;
}

/* line 54, ../sass/_typography.scss */
h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0;
}

/*=TEXT ELEMENTS
------------------------------------------------*/
/* line 61, ../sass/_typography.scss */
p {
  margin: 0 0 0.85em;
}

/* line 63, ../sass/_typography.scss */
img {
  max-width: 100%;
}

/* line 66, ../sass/_typography.scss */
img[align=left] {
  float: left;
  margin: 0 1.7em 1.7em 0;
}

/* line 67, ../sass/_typography.scss */
img[align=right] {
  float: right;
  margin: 0 0 1.7em 1.7em;
}

/* line 68, ../sass/_typography.scss */
img[align=middle] {
  display: block;
  margin: 0 auto 1.7em;
}

/* line 70, ../sass/_typography.scss */
a {
  color: #e43a0d;
  text-decoration: none;
  border-bottom: 1px solid #e43a0d;
}
/* line 74, ../sass/_typography.scss */
a:hover, a:focus {
  color: #e43a0d;
}
/* line 75, ../sass/_typography.scss */
a:hover, a:active {
  outline: none;
}
/* line 76, ../sass/_typography.scss */
a h2 {
  color: #4d4e53;
  border-bottom: 1px solid #e43a0d;
}

/* line 82, ../sass/_typography.scss */
strong {
  font-weight: bold;
}

/* line 83, ../sass/_typography.scss */
em, dfn {
  font-style: italic;
}

/* line 84, ../sass/_typography.scss */
dfn {
  font-weight: bold;
}

/* line 85, ../sass/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 86, ../sass/_typography.scss */
sup {
  color: #666666;
  vertical-align: super;
}

/* line 89, ../sass/_typography.scss */
abbr,
acronym {
  border-bottom: 1px dotted #666666;
}

/* line 92, ../sass/_typography.scss */
pre,
code {
  font-family: "Courier New", monotype, serif;
  font-size: 0.8em;
  line-height: 1em;
}

/*=LISTS
------------------------------------------------*/
/* line 102, ../sass/_typography.scss */
li ul,
li ol {
  margin: 0 1.7em;
}

/* line 103, ../sass/_typography.scss */
ul, ol {
  margin: 0;
}

/* line 105, ../sass/_typography.scss */
ul {
  list-style-type: none;
}

/* line 106, ../sass/_typography.scss */
ol {
  list-style-type: decimal;
}

/*=VARIABLES - GRID
------------------------------------------------*/
/*=VARIABLES - FONTS
------------------------------------------------*/
/*=VARIABLES - COLOR
------------------------------------------------*/
/*= fonts
------------------------------------------------*/
/*= break points
------------------------------------------------*/
/*= forms
------------------------------------------------*/
/*=button backgrounds
------------------------------------------------*/
/*=COMPASS DEFAULTS
------------------------------------------------*/
/*MIXINS
------------------------------------------------*/
/*moved font-family out*/
/*FUNCTIONS
------------------------------------------------*/
/* line 3, ../sass/_layout.scss */
body {
  background: red;
}

/* ===
container
===*/
/* line 10, ../sass/_layout.scss */
#container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

/*=grid
----------*/
/* line 20, ../sass/_layout.scss */
.container12 {
  float: left;
  width: 100%;
  border-width: 0px;
}

/* line 24, ../sass/_layout.scss */
#logo, #search, #siteTitle, .container6 {
  float: left;
  width: 50%;
  border-width: 0px;
}

/* line 28, ../sass/_layout.scss */
#informationFor, container3 {
  float: left;
  width: 25%;
  border-width: 0px;
}

/* line 33, ../sass/_layout.scss */
.column12 {
  float: left;
  margin: 1.04167%;
  width: 95.83333%;
  border-width: 0px;
  padding: 1.04167%;
  position: relative;
}

/* line 36, ../sass/_layout.scss */
.column8 {
  float: left;
  margin: 1.04167%;
  width: 62.5%;
  border-width: 0px;
  padding: 1.04167%;
  position: relative;
}

/* line 39, ../sass/_layout.scss */
.column6 {
  float: left;
  margin: 1.04167%;
  width: 45.83333%;
  border-width: 0px;
  padding: 1.04167%;
  position: relative;
}

/* line 42, ../sass/_layout.scss */
.column4 {
  float: left;
  margin: 1.04167%;
  width: 29.16667%;
  border-width: 0px;
  padding: 1.04167%;
  position: relative;
}

/* line 45, ../sass/_layout.scss */
.column3 {
  float: left;
  margin: 1.04167%;
  width: 20.83333%;
  border-width: 0px;
  padding: 1.04167%;
  position: relative;
}

/* ==
@smallScreen
==*/
@media screen and (max-width: 481px) {
  /* line 53, ../sass/_layout.scss */
  .container12, .container6, #siteTitle {
    width: 100%;
    float: none;
    padding: 0px;
  }
  /* line 57, ../sass/_layout.scss */
  .container12 p, .container6 p, #siteTitle p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
  }

  /* line 62, ../sass/_layout.scss */
  .column8, .column6, .column4, .column3 {
    width: 100%;
    float: none;
  }
}
/*=VARIABLES - GRID
------------------------------------------------*/
/*=VARIABLES - FONTS
------------------------------------------------*/
/*=VARIABLES - COLOR
------------------------------------------------*/
/*= fonts
------------------------------------------------*/
/*= break points
------------------------------------------------*/
/*= forms
------------------------------------------------*/
/*=button backgrounds
------------------------------------------------*/
/*=COMPASS DEFAULTS
------------------------------------------------*/
/*MIXINS
------------------------------------------------*/
/*moved font-family out*/
/*FUNCTIONS
------------------------------------------------*/
/*===
SPRITES probably will move, just here for dev
===*/
/* line 74, sprites/*.png */
.sprites-sprite, .sprites-email, .sprites-fb, .sprites-in, .sprites-twitter, .sprites-youtube {
  background: url('../images/sprites-s94d8b1f659.png') no-repeat;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-email {
  background-position: 0 -26px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-fb {
  background-position: 0 -104px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-in {
  background-position: 0 -52px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-twitter {
  background-position: 0 -78px;
}

/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-youtube {
  background-position: 0 0;
}

/* line 9, ../sass/_elements.scss */
body {
  background: url(../layout-images/body-background.png);
}
@media screen and (max-width: 481px) {
  /* line 9, ../sass/_elements.scss */
  body {
    background: #4d4e53;
  }
}

/* line 15, ../sass/_elements.scss */
#skipToContent {
  position: absolute;
  width: 100%;
  background: #4d4e53;
  height: 220px;
  text-indent: -10000px;
}
@media screen and (max-width: 481px) {
  /* line 15, ../sass/_elements.scss */
  #skipToContent {
    height: 110px;
  }
}
@media screen and (max-width: 768px) {
  /* line 15, ../sass/_elements.scss */
  #skipToContent {
    height: 170px;
  }
}

@media screen and (max-width: 481px) {
  /* line 31, ../sass/_elements.scss */
  header .headerImage {
    display: none;
  }
}

/*site title header group */
/* line 38, ../sass/_elements.scss */
#siteTitle {
  clear: both;
  margin-top: 0.86667em;
  margin-bottom: 5.33333em;
  padding-left: 85px;
}
/* line 43, ../sass/_elements.scss */
#siteTitle h1 {
  font-size: 3.06667em;
  line-height: 1.1087em;
  margin-bottom: 0.27717em;
  font-family: "oswaldbook";
  color: white;
  font-weight: 400;
  letter-spacing: -0.03333em;
  margin-bottom: .1em;
  margin-top: 0;
}
/* line 51, ../sass/_elements.scss */
#siteTitle h1 span {
  color: #e43a0d;
}
/* line 55, ../sass/_elements.scss */
#siteTitle h2 {
  font-size: 0.8em;
  letter-spacing: 0.13333em;
  font-family: "oswaldlight";
  color: #c8c8c8;
  margin-bottom: 0;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  /* line 38, ../sass/_elements.scss */
  #siteTitle {
    padding-left: 10px;
    margin-bottom: 1.33333em;
  }
  /* line 61, ../sass/_elements.scss */
  #siteTitle h1 {
    font-size: 2.13333em;
  }
}
@media screen and (max-width: 481px) {
  /* line 38, ../sass/_elements.scss */
  #siteTitle {
    margin-bottom: .5em;
    padding-left: 10px;
  }
  /* line 68, ../sass/_elements.scss */
  #siteTitle h1 {
    line-height: 1em;
    font-size: 2.13333em;
  }
  /* line 72, ../sass/_elements.scss */
  #siteTitle h2 {
    font-size: 0.53333em;
  }
}

/* line 78, ../sass/_elements.scss */
#search {
  text-align: right;
  color: white;
  font-size: 0.8em;
  padding-top: 20px;
}
/* line 83, ../sass/_elements.scss */
#search a {
  color: white;
  border-bottom: 1px solid white;
}
/* line 87, ../sass/_elements.scss */
#search #searchLink {
  position: absolute;
  left: -10000px;
}
@media screen and (max-width: 481px) {
  /* line 92, ../sass/_elements.scss */
  #search form {
    display: none;
  }
  /* line 95, ../sass/_elements.scss */
  #search #searchLink {
    position: absolute;
    right: 1em;
    top: .5em;
    color: white;
    border-bottom: none;
  }
}

/* line 105, ../sass/_elements.scss */
#skipToMainNav {
  position: absolute;
  top: -60px;
}
@media screen and (max-width: 481px) {
  /* line 105, ../sass/_elements.scss */
  #skipToMainNav {
    right: .5em;
    top: 60px;
    padding: .25em .75em;
    border-bottom: none;
    background: #d0d0d0;
    color: #2c2c2c;
    text-transform: uppercase;
    font-family: "oswaldbook";
    border: 1px solid #d0d0d0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }
}

/* line 123, ../sass/_elements.scss */
#socialMediaLinks {
  font-size: 0.8em;
  letter-spacing: 0.13333em;
  font-family: "oswaldlight";
  color: #c8c8c8;
  margin-bottom: 0;
  text-transform: uppercase;
  padding-top: 5px;
}
/* line 127, ../sass/_elements.scss */
#socialMediaLinks li {
  float: left;
}
/* line 130, ../sass/_elements.scss */
#socialMediaLinks a {
  display: block;
  height: 26px;
  width: 26px;
  text-indent: -10000px;
  border-bottom: none;
  margin-right: 0.53333em;
}
@media screen and (max-width: 481px) {
  /* line 123, ../sass/_elements.scss */
  #socialMediaLinks {
    display: none;
  }
}

/* line 144, ../sass/_elements.scss */
header > #socialMediaLinks {
  float: right;
}

/* line 148, ../sass/_elements.scss */
#mainNavigation {
  position: absolute;
  top: 13.66667em;
  font-family: "oswaldbook";
  text-transform: uppercase;
}
/* line 153, ../sass/_elements.scss */
#mainNavigation li {
  float: left;
}
/* line 156, ../sass/_elements.scss */
#mainNavigation a {
  color: #666666;
  background: #2c2c2c;
  border-bottom: none;
  padding: 1.2em;
  border-right: 0.06667em solid black;
  border-left: 0.06667em solid #666666;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
/* line 164, ../sass/_elements.scss */
#mainNavigation a:hover {
  background: black;
  color: white;
}
@media screen and (max-width: 768px) {
  /* line 148, ../sass/_elements.scss */
  #mainNavigation {
    position: relative;
    top: 0px;
  }
  /* line 172, ../sass/_elements.scss */
  #mainNavigation li {
    float: none;
  }
  /* line 175, ../sass/_elements.scss */
  #mainNavigation a {
    border-bottom: 0.06667em solid black;
    border-top: 0.06667em solid #666666;
    border-left: none;
    border-right: none;
    display: block;
    padding: .5em;
    width: 100%;
  }
}

/* line 187, ../sass/_elements.scss */
#subsiteName {
  position: absolute;
  font-family: "oswaldlight";
  font-size: 3.06667em;
  color: white;
  padding: 0.25em 20px;
  background: #e43a0d;
  top: 310px;
  left: -8px;
}
@media screen and (max-width: 481px) {
  /* line 187, ../sass/_elements.scss */
  #subsiteName {
    left: -1000px;
  }
}
@media screen and (max-width: 768px) {
  /* line 187, ../sass/_elements.scss */
  #subsiteName {
    font-size: 2.13333em;
    top: 220px;
  }
}

/* line 205, ../sass/_elements.scss */
#breadcrumbNavigation {
  background: #d0d0d0;
  font-size: .75em;
  padding: 10px 20px;
  margin-top: -10px;
}
@media screen and (max-width: 481px) {
  /* line 205, ../sass/_elements.scss */
  #breadcrumbNavigation {
    display: none;
  }
}

/* line 215, ../sass/_elements.scss */
#main {
  background: #e8e8e8;
  overflow: visible;
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#main:after {
  content: "";
  display: table;
  clear: both;
}
/* line 219, ../sass/_elements.scss */
#main li {
  background: url(../layout-images/white-bullet.png) no-repeat 0px 8px;
  padding-left: 15px;
  margin-bottom: 0.425em;
}
/* line 223, ../sass/_elements.scss */
#main h1 {
  font-family: "oswaldlight";
  font-size: 2.13333em;
  line-height: 1.59375em;
  margin-bottom: 0.39844em;
}

/* line 228, ../sass/_elements.scss */
footer {
  background: #666666;
  color: white;
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
footer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 233, ../sass/_elements.scss */
footer h1, footer h2, footer h3 {
  color: white;
}
/* line 236, ../sass/_elements.scss */
footer a {
  color: white;
  border-bottom: 1px solid white;
}

/* line 241, ../sass/_elements.scss */
.toTop, .ilrLogo {
  display: block;
  text-indent: -10000px;
  border-bottom: none;
  display: block;
}

/* line 247, ../sass/_elements.scss */
.toTop {
  height: 38px;
  width: 38px;
  background: url(../layout-images/up.png) no-repeat;
  float: left;
  margin-right: .5em;
}

/* line 254, ../sass/_elements.scss */
.ilrLogo {
  background: url(../layout-images/ilr-footer-logo.jpg) no-repeat;
  width: 148px;
  height: 54px;
  float: right;
}

/* line 262, ../sass/_elements.scss */
#footerNavigation {
  padding-bottom: 2em;
}
/* line 264, ../sass/_elements.scss */
#footerNavigation a {
  color: white;
  border-bottom: 1px solid white;
}
/* line 268, ../sass/_elements.scss */
#footerNavigation li {
  float: left;
  margin-right: .5em;
}

/*===
FORMs
===*/
/* line 277, ../sass/_elements.scss */
input[type="text"], input[type="submit"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  border: 1px solid #2c2c2c;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #e8e8e8;
  margin: 0;
  padding: 0px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  background: #4d4e53;
  font-size: 1em;
  padding: 0.33333em;
}
/* line 281, ../sass/_elements.scss */
input[type="text"]:focus, input[type="submit"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
  background: #fafafa;
  outline: none !important;
  border-color: #b3b3b3;
}
/* line 282, ../sass/_elements.scss */
input[type="text"][disabled], input[type="submit"][disabled], input[type="password"][disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="email"][disabled], input[type="number"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="time"][disabled], input[type="url"][disabled], textarea[disabled] {
  background-color: #ddd;
}

/*===
DIfferent Headers
===*/
/* line 289, ../sass/_elements.scss */
#main aside h1 {
  color: #d0d0d0;
  background: #4d4e53;
  font-size: 1.5em;
  display: inline-block;
  padding: .25em 1em;
  margin-left: -28px;
  z-index: 100;
}

/*=== 
page elements
===*/
/* line 303, ../sass/_elements.scss */
blockquote {
  background: white;
  padding: 10px;
}
/* line 306, ../sass/_elements.scss */
blockquote quotemark {
  display: block;
  width: 44px;
  height: 34px;
  background: url(../layout-images/quote.jpg) no-repeat;
  float: left;
  text-indent: -10000px;
  padding: 0 10px 10px 0;
}

/* line 317, ../sass/_elements.scss */
.callout {
  background: #e8e8e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
}
/* line 321, ../sass/_elements.scss */
.callout p {
  font-style: italic;
}

/* line 326, ../sass/_elements.scss */
* .separate {
  background: #c8c8c8;
}
